* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#patuti {
  height: 100vh;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
}

#space {
  width: 295px;
  height: 400px;
  margin: 80px auto;
  position: relative;
}

#character {
  background-size: cover;
  // width: 150px;
  // height: 161.5px;
  position: absolute;
  bottom: 145px;
  z-index: 1;
}

.animate-jump {
  animation: jump 1.4s;
}

#area {
  height: 152.5px;
  width: 295px;
  background-image: url("../assets/area.png");
  background-size: cover;
  position: absolute;
  bottom: 0;
}

.bullet-right-list {
  list-style: none;
  position: absolute;
  right: 0px;
  top: 90px;
  margin-right: -15px;
}

li {
  width: 60.75px;
  height: 29.5px;
  background-image: url("../assets/bullet_h.png");
  background-size: cover;
  margin-bottom: 60px !important;
  position: relative;

  .bullet {
    width: 60.75px;
    height: 29.5px;
    background-image: url("../assets/bullet_h.png");
    background-size: cover;
    position: absolute;
    right: 0px;

    &.active {
      animation-name: shoot;
      animation-duration: 8s;
      animation-timing-function: ease;
    }
  }
}

.bullet-x {
  height: 121.5px;
  width: 59px;
  background-color: yellow;
}

@keyframes shoot {
  0% {
    right: 0px;
  }
  100% {
    right: 100vw;
  }
}

@keyframes jump {
  0% {
    bottom: 145px;
  }
  5% {
    bottom: 145px;
  }
  70% {
    bottom: 250px;
  }
  80% {
    bottom: 250px;
  }
  95% {
    bottom: 145px;
  }
}
